.heroSection{
    align-items: center;
    margin:5% 0;

    .underlineText{
        border-bottom:10px solid $accentLight;
        padding-bottom:5px;
    }

    .heroImage{
        text-align:right;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.welcomeMessage{
    text-align:center;
    h2{
        font-weight: $font-bold;
        color:$accent;
    }
   
}