.productContainer{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    /*display: grid;
    text-align:center; 
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20%;
    column-gap:2%;
    width:100vw;
    position:relative;*/

    .card{
        border:0;
        padding:2% 1% 10% 1%;
        width:25%;
    }

    .productImage{
        z-index:2;
        bottom:82%;
        right:0;
        left:0;
        position: absolute;
        text-align: center;
    }

    .productDescription{
        background-color:white;
        border-radius: 25px;
        box-shadow: 0 0 20px $shadows;
        width: 100%;
        z-index:0;
        text-align:center;

        p{
            padding:2%;    
        }

        .name{
            padding-top:30%;
        }
    }
    
    .selector{
        display: flex;
        flex-direction: row;
        padding:0 8%;
        align-items: center;
        border:0;

        .increasePrice, .decreasePrice{
            font-size:100%;
            font-family:inherit;
            border:0;
            background:none;
        }
    }

    .finalPrice{
        padding:5% 0 2% 0;
    }

    .button{
        margin-bottom:8%;
        background-color:$accent;
        border-radius: 50px;
        padding:6% 18%;
        color: white;
        text-decoration: none;
        font-weight: $font-bold;
        letter-spacing: 2px;
        border: none;

        button:focus{
            background-color:$accentLight;
            color:$textColor;
            text-decoration: none;
        }
    }
}